@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

.pr{
  @apply text-sm font-bold p-1 text-gray-400
}

.bx{
  @apply border-[1px] w-3/4 rounded-md py-1 px-3 m-2
}

.com{
  @apply flex justify-center m-2;
}

.frm{
  @apply flex items-center justify-center m-2;
}

.lg{
  @apply m-2 text-lg text-black font-semibold text-center font-serif;
}

.cp{
  @apply font-semibold text-xs;
}

.flx{
  @apply flex justify-between p-2;
}

.fld{
  @apply border-2 rounded-md w-[60%] border-gray-500 p-[3px] m-2 h-10;
}